html {
    text-align: center;
    background-color: rgb(28,47,75);
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
    background-color: rgb(12,23,35);
    border: black solid 2px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(39, 72, 110);
    border: 2px solid black;
    border-radius: 5px;
    background-color: #0c1723;
    padding: 15px;
}

a:hover {
    color: rgb(54, 100, 153);
    border-bottom: rgb(54, 100, 153) 2px solid;
    box-shadow: inset 0px -4px 10px rgb(54, 100, 153);
}

#titre {
    flex-grow: 9;
}

#monCompte {
    text-decoration: none;
    color: white;
    flex-grow: 1;
    border-left: solid 2px black;
}

#monCompte a {
    text-decoration: none;
    color: white;
}

#monCompte a:hover {
    color: grey;
}

#content {
    flex-grow: 19;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

hr {
    width: 80%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

nav {
    background-color: rgb(12,23,35);
    width: 100px;
    border: black solid 2px;
    margin-top: 15px;
    display: inline-block;
    flex-grow: 1;
}

nav ul {
    color: white;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    background-color: rgb(12,23,35);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
}

nav ul li:hover {
    background-color: rgba(120, 120, 120, 0.200);
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: grey;
}

#pageContent {
    background-color: rgb(12,23,35);
    border: black solid 2px;
    min-height: 100px;
    flex-grow: 17;
    margin-top: 15px;
    margin-left: 15px;
    flex-direction: row;
}

h2 {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}